.navbar {
    background: #000;
}
.navbar-brand {
    font-size: 25px;
    color: aqua !important;
}
.nav-item{
    padding-left: 10px;
    
}
.nav-link {
    position: relative;
}
.nav-link::before {
    content: '';
    display: block;
    position: absolute;
    left: 8px;
    right: calc(102% - 0px);
    bottom: 5px;
    height: 1px;
    background-color: currentColor;
    transition: .3s ease-in-out;
    transition-property: right;
}
.nav-link:hover::before {
    right: 8px;
}
.carousel-item {
    height: 450px;
}
.carousel-img-1 {
    background: url('../img/image1.jpeg');
    background-size: cover;
}
.carousel-img-2 {
    background: url('../img/image2.jpeg');
    background-size: cover;
}
.carousel-img-3 {
    background: url('../img/image3.jpeg');
    background-size: cover;
}
#home-icon i {
    font-size: 35px;
}
#get-started {
    background: url('../img/bg1.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
    position: relative;
}
.dark-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#homevideo {
    background: url('../img/people.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
    position: relative;
}
#homevideo .dark-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#homevideo .fa {
    font-size: 35px;
    color: #ff0000;
}
#photogallary img{
    min-height: 250px;
}
#copyright {
    background: #000;
    color: #fff;
}

/* About */

#page-header {
    background: url('../img/image1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    background-position: top;
}

#icon-boxes .fa {
    font-size: 40px;
    margin-bottom: 10px;
}

#testimonial .slick-prev::before {
    color: #000;
    font-weight: bold;
}
#testimonial .slick-next::before {
    color: #000;
    font-weight: bold;
}

/* Service */

#service {
    background: url('../img/image1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    background-position: top;
}

/* Blog */
#blog {
    background: url('../img/image3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-attachment: fixed;
    background-position: top;
}

@media(max-width: 767px){
    .nav-item{
        padding-left: 0;
    }
}

@media(max-width: 768px){
    #get-started {
        min-height: 300px;
    }
}
@media(max-width: 480px){
    .carousel h2 {
        font-size: 40px;
    }
    #get-started {
        min-height: 350px;
    }
}
@media(max-width: 380px) {
    #get-started {
        min-height: 400px;
    }
}
